In [37]:
import numpy as np
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup

import matplotlib.pyplot as plt
import seaborn as sns

import time

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# importing everything what we need.

[Imdb](https://www.imdb.com/list/ls006266261/?sort=list_order,asc&st_dt=&mode=detail&page=1)

In [38]:
Movie_name = []
Movie_year = []
duration = []
genres = []
rating=[]

for i in range(1,11):
    URL = 'https://www.imdb.com/list/ls006266261/?sort=list_order,asc&st_dt=&mode=detail&page={}'. format(i)
    
    page = requests.get(URL)
    htmlCode = page.text
    
    soup = BeautifulSoup(htmlCode)
    
    for x in soup.find_all('div', attrs={'class' : 'lister-item-content'}):

        mov = x.find('h3', attrs={'class' : 'lister-item-header'})
        if mov is None:
            Movie_name.append(np.NaN)
        else:
            Movie_name.append(mov.text.split(('('))[0])
            
        year = x.find('h3', attrs={'class' : 'lister-item-header'})
        if year is None:
            Movie_year.append(np.NaN)
        else:
            Movie_year.append(mov.text.split(('('))[1])
            
        dur = x.find('span', attrs={'class': "runtime"})
        if dur is None:
            duration.append(np.NaN)
        else:
            duration.append(dur.text)
            
        gen = x.find('span', attrs={'class': "genre"})
        if gen is None:
            genres.append(np.NaN)
        else:
            genres.append(gen.text)
            
        rat = x.find('span', attrs={'class': "ipl-rating-star__rating"})
        if rat is None:
            rating.append(np.NaN)
        else:
            rating.append(rat.text)

In [39]:
votes = []
gross = []


for i in range(1,11):
    URL = 'https://www.imdb.com/list/ls006266261/?sort=list_order,asc&st_dt=&mode=detail&page={}'. format(i)
    
    page = requests.get(URL)
    htmlCode = page.text
    for j in soup.find_all('div',attrs = {"class":"lister-item-content"}):
        k =j.find_all("span",attrs={"name":"nv"})
        if k is None:
            votes.append(np.NaN)        
        else:
            votes.append(k)

In [40]:
v=[]
for i in votes:
    if i[0] is None:
        v.append(np.NaN)
    else:
        v.append(i[0].text)

In [41]:
G=[]
for i in votes:    
    if len(i)<2:
        G.append(np.NaN)
    else:
        G.append(i[1].text)

In [42]:
D = {'Title':Movie_name,
     'Year of Release':Movie_year,
    'Duration in min':duration,
    'Genre':genres,
    'Rating':rating,
    'Votes in Views':v,
    "Gross in Millions":G}

In [43]:
df = pd.DataFrame(D)
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M
...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M

In [44]:
df.isna().sum()

Title                 0
Year of Release       0
Duration in min       0
Genre                 0
Rating                0
Votes in Views        0
Gross in Millions    60
dtype: int64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1000 non-null   object
 1   Year of Release    1000 non-null   object
 2   Duration in min    1000 non-null   object
 3   Genre              1000 non-null   object
 4   Rating             1000 non-null   object
 5   Votes in Views     1000 non-null   object
 6   Gross in Millions  940 non-null    object
dtypes: object(7)
memory usage: 54.8+ KB

In [46]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M
...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M

In [47]:
ac=[]
for i in df['Genre']:
    if 'action' in i.lower():
        ac.append(1)
    else:
        ac.append(0)

In [48]:
df['Action']=ac

In [49]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0
...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1

In [50]:
horr=[]
for i in df['Genre']:
    if 'horror' in i.lower():
        horr.append(1)
    else:
        horr.append(0)
df['Horror']=horr

In [51]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0
...,...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0

In [52]:
Drm=[]
for i in df['Genre']:
    if 'drama' in i.lower():
        Drm.append(1)
    else:
        Drm.append(0)
df['Drama']=Drm

In [53]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror,Drama
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0,1
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0,1
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0,1
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0,1
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0,1
...,...,...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1,0
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0,1
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0,1
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1,0
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0,0

In [54]:
crm=[]
for i in df['Genre']:
    if 'crime' in i.lower():
        crm.append(1)
    else:
        crm.append(0)
df['Crime']=crm

In [55]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror,Drama,Crime
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0,1,1
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0,1,1
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0,1,1
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0,1,1
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1,0,0
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0,1,1
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0,1,0
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1,0,0
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0,0,0

In [56]:
cmdy=[]
for i in df['Genre']:
    if 'comedy' in i.lower():
        cmdy.append(1)
    else:
        cmdy.append(0)
df['Comedy']=cmdy

In [57]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror,Drama,Crime,Comedy
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0,1,1,0
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0,1,1,0
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0,1,1,0
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0,1,1,0
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1,0,0,0
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0,1,1,0
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0,1,0,0
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1,0,0,1
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0,0,0,1

In [58]:
th=[]
for i in df['Genre']:
    if 'thriller' in i.lower():
        th.append(1)
    else:
        th.append(0)
df['Thriller']=th

In [59]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror,Drama,Crime,Comedy,Thriller
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0,1,1,0,0
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0,1,1,0,0
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0,1,1,0,0
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0,1,1,0,0
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1,0,0,0,0
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0,1,1,0,0
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0,1,0,0,1
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1,0,0,1,0
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0,0,0,1,0

In [60]:
scifi=[]
for i in df['Genre']:
    if 'sci-fi' in i.lower():
        scifi.append(1)
    else:
        scifi.append(0)
df['Sci-Fi']=scifi

In [61]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror,Drama,Crime,Comedy,Thriller,Sci-Fi
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0,1,1,0,0,0
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0,1,1,0,0,0
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0,1,1,0,0,0
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0,1,1,0,0,0
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1,0,0,0,0,1
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0,1,1,0,0,0
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0,1,0,0,1,0
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1,0,0,1,0,0
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0,0,0,1,0,0

In [62]:
mystry=[]
for i in df['Genre']:
    if 'mystery' in i.lower():
        mystry.append(1)
    else:
        mystry.append(0)
df['Mystery']=mystry

In [63]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror,Drama,Crime,Comedy,Thriller,Sci-Fi,Mystery
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0,1,1,0,0,0,0
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0,1,1,0,0,0,0
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0,1,1,0,0,0,0
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0,1,1,0,0,0,1
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1,0,0,0,0,1,0
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0,1,1,0,0,0,0
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0,1,0,0,1,0,1
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1,0,0,1,0,0,0
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0,0,0,1,0,0,0

In [64]:
adv=[]
for i in df['Genre']:
    if 'adventure' in i.lower():
        adv.append(1)
    else:
        adv.append(0)
df['Adventure']=adv

In [65]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror,Drama,Crime,Comedy,Thriller,Sci-Fi,Mystery,Adventure
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0,1,1,0,0,0,0,0
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0,1,1,0,0,0,0,0
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0,1,1,0,0,0,0,0
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0,1,1,0,0,0,1,0
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1,0,0,0,0,1,0,0
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0,1,1,0,0,0,0,0
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0,1,0,0,1,0,1,0
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1,0,0,1,0,0,0,0
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0,0,0,1,0,0,0,1

In [66]:
bio=[]
for i in df['Genre']:
    if 'biography' in i.lower():
        bio.append(1)
    else:
        bio.append(0)
df['Biography']=bio

In [67]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror,Drama,Crime,Comedy,Thriller,Sci-Fi,Mystery,Adventure,Biography
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0,1,1,0,0,0,0,0,0
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0,1,1,0,0,0,0,0,1
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0,1,1,0,0,0,0,0,0
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0,1,1,0,0,0,1,0,0
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1,0,0,0,0,1,0,0,0
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0,1,1,0,0,0,0,0,0
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0,1,0,0,1,0,1,0,0
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1,0,0,1,0,0,0,0,0
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0,0,0,1,0,0,0,1,0

In [68]:
war=[]
for i in df['Genre']:
    if 'war' in i.lower():
        war.append(1)
    else:
        war.append(0)
df['war']=war

In [74]:
df

,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror,Drama,Crime,Comedy,Thriller,Sci-Fi,Mystery,Adventure,Biography,war
0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0,1,1,0,0,0,0,0,0,0
1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0,1,1,0,0,0,0,0,1,0
2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0,1,1,0,0,0,0,0,0,0
3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0,1,1,0,0,0,1,0,0,0
4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1,0,0,0,0,1,0,0,0,0
996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0,1,1,0,0,0,0,0,0,0
997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0,1,0,0,1,0,1,0,0,0
998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1,0,0,1,0,0,0,0,0,0
999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0,0,0,1,0,0,0,1,0,0

In [75]:
df.to_csv(r"C:\Users\devender bahadur\Downloads\Web Scrabing Final Project\main_df.csv")

In [76]:
main_df = pd.read_csv(r"C:\Users\devender bahadur\Downloads\Web Scrabing Final Project\main_df.csv")

In [77]:
main_df

,Unnamed: 0,Title,Year of Release,Duration in min,Genre,Rating,Votes in Views,Gross in Millions,Action,Horror,Drama,Crime,Comedy,Thriller,Sci-Fi,Mystery,Adventure,Biography,war
0,0,\n1.\nThe Godfather\n,1972)\n,175 min,"\nCrime, Drama",9.2,"231,110",$14.67M,0,0,1,1,0,0,0,0,0,0,0
1,1,\n2.\nGoodfellas\n,1990)\n,145 min,"\nBiography, Crime, Drama",8.7,"382,167",$353.01M,0,0,1,1,0,0,0,0,0,1,0
2,2,\n3.\nPulp Fiction\n,1994)\n,154 min,"\nCrime, Drama",8.9,"84,108",$10.00M,0,0,1,1,0,0,0,0,0,0,0
3,3,\n4.\nThe Usual Suspects\n,1995)\n,106 min,"\nCrime, Drama, Mystery",8.5,"27,683",$0.05M,0,0,1,1,0,0,0,1,0,0,0
4,4,\n5.\nApocalypse Now\n,1979)\n,147 min,"\nDrama, Mystery, War",8.5,"413,088",$46.89M,0,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,\n996.\nBlade II\n,2002)\n,117 min,"\nAction, Horror, Sci-Fi",6.7,"212,881",$82.35M,1,1,0,0,0,0,1,0,0,0,0
996,996,\n997.\nFalling Down\n,1993)\n,113 min,"\nAction, Crime, Drama",7.6,"185,112",$40.90M,1,0,1,1,0,0,0,0,0,0,0
997,997,\n998.\nEyes Wide Shut\n,1999)\n,159 min,"\nDrama, Mystery, Thriller",7.5,"328,196",$55.69M,0,0,1,0,0,1,0,1,0,0,0
998,998,\n999.\nThe Lost Boys\n,1987)\n,97 min,"\nComedy, Horror",7.2,"137,754",$32.22M,0,1,0,0,1,0,0,0,0,0,0
999,999,"\n1,000.\nDeadpool 2\n",2018)\n,119 min,"\nAction, Adventure, Comedy",7.7,"547,316",$324.59M,1,0,0,0,1,0,0,0,1,0,0